<% include inc/global/head.ejs %>
    <link rel='stylesheet' href='/css/front/front.css' />
    <link rel='stylesheet' href='/css/front/theme/dark.css' />
    </head>
    <body>
        <div id="main-container" class="flex-center-row">
            <div id="project-type-panel" class="panel flex-center-col">
                <% include inc/project/type-list.ejs %>
            </div>
            <div id="project-list-panel" class="panel flex-center-col">
                <% include inc/project/project-list.ejs %>
            </div>
            <div id="project-content-panel" class="panel flex-center-col">
                <% include inc/project/project-content.ejs %>
            </div>
        </div>
    </body>
    <% include inc/global/js-lib.ejs %>
    <script src="/js/front/display.js"></script>
    <script src="/js/front/front-events.js"></script>
    <% include inc/global/footer.ejs %>
