<div id="projects-list-container" class="flex-center-col">
    <div id="projects-list-header">
        <h1 id="chosen-project-name"><%= firstLanguageKey %></h1>
    </div>
    <div id="projects-list" class="flex-center-col">
        <%
        let i = 0;
            for (i = 0; i < firstType.qty; i++) {
                %>
                <div class="project-container" data-project="<%= firstType.name[i] %>">
                    <div class="project-content">
                        <div class="project-header flex-center-row">
                            <h3 class="project-name flex-center-row"><%= firstType.name[i] %> <span class="project-theme"><%= firstType.theme[i] %></span></h3>
                            <h6 class="project-date"><%= firstType.date[i] %></h6>
                        </div>
                        <h5 class="project-description"><%= firstType.description[i] %></h5>
                    </div>
                </div>
                <%
            }
        %>
    </div>
</div>
