<div id="top-container" class="flex-center-col">
  <div id="identity-container" class="flex-center-col">
    <div id="identity" class="flex-center-col">
      <h1 id="identity-text">Hadrien Bouffier</h1>
    </div>
    <div id="identity-profile-image-container" class="flex-center-col">
      <img id="identity-profile-image" src="/img/hb_profile.png" alt="hb-profile-picture">
    </div>
  </div>
  <div id="link-icon-container" class="flex-center-row">
    <div id="cv-container" title="CV">
      <!--<a href="http://hbouffier.info/cv">-->
      <a href="cv">
         <i class="profile-icon fas fa-file-alt"></i>
         <i class="profile-icon fas fa-user"></i>
      </a>
    </div>
    <div id="github-container" title="Github">
      <a href="https://github.com/Alvoras"><i class="fab fa-github profile-icon"></i></a>
    </div>
    <div id="mail-container" title="Email">
      <a href="mailto:hadrien.bouffier@gmail.com"><i class="far fa-envelope profile-icon"></i></a>
    </div>
  </div>
  <div id="button-container" class="flex-center-row">
    <div id="language-button-container" class="selected-button button-container flex-center-row" data-sort="language">
      <p id="language-button" class="button">Langages</p>
    </div>
    <div id="theme-button-container" class=" button-container flex-center-row" data-sort="theme">
      <p id="theme-button" class="button">Thèmes</p>
    </div>
  </div>
</div>
<div id="projects-type-container">
  <ul id="projects-type-language-list" class="projects-type-list" data-sort="language">
    <%
            let projectString;

            for(type in projectsTypeInfo){
                projetString = (projectsTypeInfo[type].qty > 1)?"projets":"projet";
                %>
      <div class="project-type-container <% if(type === firstLanguageKey){ %> selected-type <% } %>" data-type="<%= type %>">
        <h3 class="project-type-name type-text"><%= type %></h3>
        <h5 class="project-type-qty type-text"><%= projectsTypeInfo[type].qty %> <%= projetString %></h3>
                </div>
                <%
            }
        %>
    </ul>
    <ul id="projects-type-theme-list" class="projects-type-list hide" data-sort="theme">
        <%
          for (theme in projectsThemeInfo) {
            projetString = (projectsThemeInfo[theme].qty > 1)?"projets":"projet";
            %>
            <div class="project-type-container <% if(projectsThemeInfo[theme].name === firstTheme){ %> selected-type <% } %>" data-type="<%= theme %>">
                <h3 class="project-type-name type-text"><%= theme %></h3>
                <h5 class="project-type-qty type-text"><%= projectsThemeInfo[theme].qty %> <%= projetString %></h3>
            </div>
            <%
        }
        %>
    </ul>
</div>
