<script src="/js/lib/markdown-it.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript"> let socket = io.connect("https://hbouffier.info", { secure: true } );</script>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script src="//vjs.zencdn.net/5.19/video.min.js"></script>
